@page "/"
@* <link rel="stylesheet" href="site.css" asp-append-version="true" /> *@
@* <link rel="stylesheet" href="~/site.css" asp-append-version="true" /> *@
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />


<style>
    .profile {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        padding: 10px;
    }

</style>
<PageTitle>Your Favorite Bartender: Rolando Olmos</PageTitle>


<page>
    
    <body>
        <div class="row">
        <div class="text-center" style="">
                <div class="lucidity"><h1><b>Your Favorite Bartender: Rolando Olmos</b></h1></div>
                    <h2><i>"Enjoy the party, I'll do the rest."</i></h2>
                

                Bartending and serving the Coachella Valley since <u>1985</u>!<br /><br />
                Are you looking for a bartender?<br /><br />


                I'm for hire for birthdays, quincineras, and any celebration for your bartending needs!
                <br>
                <br>
                <h2 class="text-center"><a href="mailto:olmosrolando123@gmail.com">Email Rolando!
                    <br />
                    olmosrolando123@gmail.com
                </a></h2>
                <br>
                <br>
                <br>
                <div class="align-content-center"><img src="pose.jpg"
                         class="profile" />
                </div>
        </div>
        
    </div>

    </body>
</page>